*{
    margin: 0;
    padding: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
}

#personagem{
    width: 30px;
    height: 50px;
    background-image: url(imagens/dino.png);
    background-size: 30px 50px;
    position: relative;
    top: 150px;
}

.animar{
    animation: personagem 500ms infinite;  
}

@keyframes personagem {
    0%{top: 150px;}
    20%{top: 120px;}
    45%{top: 90px;}
    55%{top: 90px;}
    80%{top: 120px;}
    100%{top: 150px}
}

#cacto{
    width: 20px;
    height: 20px;
    top: 180px;
    background-image: url(imagens/cactus.png);
    background-size: 20px 20px;
    position: relative;
    left: 480px;
    animation: cacto 1s infinite linear;
}


@keyframes cacto {
    0%{left: 480px;}
    100%{left: -40px;}
}